{% extends 'base.html' %}
{% block title%} DashBoard {% endblock%}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4"> {{request.user.first_name}}'s Dashboard</h1>
                <p class="lead">Manage your BS Listings/Inquiries</p>
            </div>
        </div>
    </div>
</section>



<section id="dashboard" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% include 'partials/_dashnav.html'%}
                <p>Here are inquiries you have made</p>
                <hr>
                {% if myinquiries %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">listing</th>
                            <th scope="col">Contact date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inquiry in myinquiries %}
                        <tr>
                            <td>{{inquiry.listing}}</td>
                            <td>{{inquiry.contact_date}}</td>

                            <td>
                                <a class="btn btn-light" href="{% url 'listing' inquiry.listing_id%}">View Listing</a>

                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {%else%}
                <p>You have not made any inquiries yet</p>
                <a class='btn btn-primary' href="{% url 'listings'%}">View Listings</a>
                {%endif%}
            </div>
        </div>
    </div>
</section>



{%endblock%}