{% extends 'base2.html' %}
{% load static %}
{% load humanize %}
{% block title %} Home{% endblock %}
{% block content %}


<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
    {% include 'partials/_alerts.html'%}
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <h1>Buy & Sell Video Games Near You </h1>
                    <p>Join hundreds of Cypriots who buy and sell from each other <br> everyday in local communities
                        around the
                        TRNC</p>
                    <div class="short-popular-category-list text-center">
                        <h2>Popular Category</h2>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="{% url 'category_listings' 'Electronics' %}"><i class="fa fa-phone"></i>
                                    Action</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'category_listings' 'Sports & Outdoors Equipment' %}"><i
                                        class="fa fa-grav"></i> Adventure</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'category_listings' 'Vehicles' %}"><i class="fa fa-car"></i> Racing</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'category_listings' 'Jobs' %}"><i class="fa fa-briefcase"></i>
                                    Sports</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'category_listings' 'Property' %}"><i class="fa fa-building"></i>
                                    Simulation</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- Advance Search -->
                <div class="advance-search">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12 align-content-center">
                                <form action="{% url 'search' %}">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <input type="text" name="keywords" class="form-control my-2 my-lg-1"
                                                id="inputtext4" placeholder="What are you looking for">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <select class="w-100 form-control mt-lg-1 mt-md-2" name="category">
                                                <option selected="true" disabled="disabled">Category</option>
                                                {% for key,value in category_choices.items %}
                                                <option value="{{key}}">
                                                    {{value}}
                                                </option>
                                                {%endfor%}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <select name="city" class="w-100 form-control mt-lg-1 mt-md-2">
                                                <option selected="true" disabled="disabled">city (All)</option>
                                                {% for key,value in city_choices.items %}
                                                <option value="{{key}}">
                                                    {{value}}
                                                </option>
                                                {%endfor%}

                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <select name="price" class="w-100 form-control mt-lg-1 mt-md-2">
                                                <option selected="true" disabled="disabled">Max Price (All)</option>
                                                {% for key,value in price_choices.items %}
                                                <option value="{{key}}">
                                                    {{value}}
                                                </option>
                                                {%endfor%}

                                            </select>
                                        </div>
                                        <div class="form-group col-md-2 align-self-center">
                                            <button type="submit" class="btn btn-primary">Search Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Trending Adds</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- offer 01 -->
            <div class="col-lg-12">
                <div class="trending-ads-slide">
                    {% if listings %}
                    {% for listing in listings %}
                    <div class="col-sm-12 col-lg-4">
                        <!-- product card -->
                        <div class="product-item bg-light">
                            <div class="card">
                                <div class="thumb-content">
                                    <div class="price">$200</div>
                                    <a href="{% url 'listing' listing.id %}">
                                        <img class="card-img-top img-fluid" src="{{ listing.photo_main.url }}"
                                            alt="Card image cap" style="height: 200px;">
                                    </a>
                                </div>
                                <div class=" card-body">
                                    <h4 class="card-title"><a
                                            href="{% url 'listing' listing.id %}">{{listing.title}}</a>
                                    </h4>
                                    <ul class="list-inline product-meta">
                                        <li class="list-inline-item">
                                            <a href="{% url 'listing' listing.id %}l"><i
                                                    class="fa fa-folder-open-o"></i>{{listing.category}}</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><i class="fa fa-calendar"></i>{{listing.list_date}}</a>
                                        </li>
                                    </ul>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Explicabo, aliquam!</p>
                                    <div class="product-ratings">
                                        <ul class="list-inline">
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-12">
                        <p>Currently there are no listings Available</p>
                    </div>
                    {%endif%}




                </div>
            </div>
        </div>


    </div>
    </div>
</section>






<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>All Categories</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
                </div>
                <div class="row">
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-laptop icon-bg-1"></i>
                                <h4><a href="{% url 'category_listings' 'Electronics' %}">Action</a></h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="{% url 'sub_category_listings' 'Phones' %}">Phones
                                        <span>{{sub_category_sum.0}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'TV' %}">TV
                                        <span>{{sub_category_sum.1}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Computer & Laptops' %}">Computer & Laptops
                                        <span>{{sub_category_sum.2}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Gaming Consoles' %}">Gaming Consoles
                                        <span>{{sub_category_sum.3}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Computer Hardware & Accessories' %}">Computer
                                        Hardware & Accessories<span>{{sub_category_sum.4}}</span></a></li>
                                <li><a
                                        href="{% url 'sub_category_listings' 'Cameras' %}">Cameras<span>{{sub_category_sum.5}}</span></a>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-briefcase icon-bg-5"></i>
                                <h4><a href="{% url 'category_listings' 'Services' %}">Adventure</a></h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="{% url 'sub_category_listings' 'Construction' %}">Construction
                                        <span>{{sub_category_sum.33}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Other Services' %}">Other Services
                                        <span>{{sub_category_sum.34}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Event Services' %}">Event Services
                                        <span>{{sub_category_sum.35}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Transport' %}">Transport
                                        <span>{{sub_category_sum.36}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Repairs' %}">Repairs
                                        <span>{{sub_category_sum.37}}</span></a>
                                </li>
                                <li><a href="{% url 'sub_category_listings' 'Domestic Help' %}">Domestic Help
                                        <span>{{sub_category_sum.38}}</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-car icon-bg-6"></i>
                                <h4><a href="{% url 'category_listings' 'Vehicles' %}">Racing</a></h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="{% url 'sub_category_listings' 'Cars' %}">Cars
                                        <span>{{sub_category_sum.6}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Car Accessories' %}">Car Accessories
                                        <span>{{sub_category_sum.7}}</span></a></li>

                                <li><a href="{% url 'sub_category_listings' 'Motorcycles and Scooters' %}">Motorcycles
                                        and Scooters <span>{{sub_category_sum.8}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Trucks' %}">Trucks
                                        <span>{{sub_category_sum.9}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Boats' %}">Boats
                                        <span>{{sub_category_sum.10}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Caravans' %}">Caravans
                                        <span>{{sub_category_sum.11}}</span></a>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->

                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-home icon-bg-3"></i>
                                <h4><a href="{% url 'category_listings' 'Property' %}">Sports</a></h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="{% url 'sub_category_listings' 'Houses & Flats for Rent' %}">Houses &
                                        Flats for Rent <span>{{sub_category_sum.21}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Houses & Flats for Sale' %}">Houses &
                                        Flats for Sale <span>{{sub_category_sum.22}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Land' %}">Land
                                        <span>{{sub_category_sum.23}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Office Space' %}">Office Space
                                        <span>{{sub_category_sum.24}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Vacation Rentals' %}">Vacation Rentals
                                        <span>{{sub_category_sum.25}}</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-apple icon-bg-2"></i>
                                <h4><a href="{% url 'category_listings' 'Home & Garden Tools' %}">Simulation</a></h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="{% url 'sub_category_listings' 'Furniture and Decor' %}">Furniture and
                                        Decor <span>{{sub_category_sum.14}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Homeware Appliances' %}">Homeware
                                        Appliances <span>{{sub_category_sum.15}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Tools & DIY' %}">Tools & DIY
                                        <span>{{sub_category_sum.16}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Garden & Braai' %}">Garden &
                                        Braai<span>{{sub_category_sum.17}}</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->

                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-shopping-basket icon-bg-4"></i>
                                <h4><a href="{% url 'category_listings' 'Farming & Industrial' %}">Consoles</a></h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="{% url 'sub_category_listings' 'Farming Vehicles' %}">Farming Vehicles
                                        <span>{{sub_category_sum.41}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Livestock' %}">Livestock
                                        <span>{{sub_category_sum.42}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Farming Equipment' %}">Farming
                                        Equipment <span>{{sub_category_sum.43}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Feeds, Supplements & Seeds' %}">Feeds,
                                        Supplements & Seeds <span>{{sub_category_sum.44}}</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->

                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-paw icon-bg-7"></i>
                                <h4><a href="{% url 'category_listings' 'Pets' %}">Accessories</a></h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="{% url 'sub_category_listings' 'Dogs, Cats' %}">Dogs &
                                        Cats
                                        <span>{{sub_category_sum.45}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Other Pets' %}">Other Pets
                                        <span>{{sub_category_sum.46}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Pet Accessories' %}">Pet Accessories
                                        <span>{{sub_category_sum.47}}</span></a></li>
                                <li><a href="#">Coming soon <span>0</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="category-block">

                            <div class="header">
                                <i class="fa fa-laptop icon-bg-8"></i>
                                <h4><a href="{% url 'category_listings' 'Hobbies & Interests' %}">Open World</a></h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="{% url 'sub_category_listings' 'Toys & Games' %}">Toys & Games
                                        <span>{{sub_category_sum.29}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Musical Instruments' %}">Musical
                                        Instruments <span>{{sub_category_sum.30}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Art' %}">Art
                                        <span>{{sub_category_sum.31}}</span></a></li>
                                <li><a href="{% url 'sub_category_listings' 'Books, CDs, DVDs' %}">Books, CDs, DVDs
                                        <span>{{sub_category_sum.32}}</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->


                </div>
            </div>
        </div>
    </div>
</section>
<!-- Container End -->

<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>Recently Added Products</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
                </div>
                <div class=" product-grid-list">
                    <div class="row mt-30">
                        {% if listings %}
                        {% for listing in listings %}
                        <div class="col-sm-12 col-lg-3 col-md-6">
                            <!-- product card -->
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price">${{listing.price}}</div>
                                        <a href="{% url 'listing' listing.id %}">
                                            <img class="card-img-top img-fluid" src="{{ listing.photo_main.url }}"
                                                alt="Card image cap" style="height: 200px;">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a
                                                href="{% url 'listing' listing.id %}">{{listing.title}}</a>
                                        </h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="{% url 'listing' listing.id %}"><i
                                                        class="fa fa-folder-open-o"></i>{{listing.category}}</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fa fa-calendar"></i>{{listing.list_date}}</a>
                                            </li>
                                        </ul>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Explicabo, aliquam!</p>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-md-12">
                            <p>Currently there are no listings Available</p>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--====================================
=            Call to Action            =
=====================================-->

<section class="call-to-action overly bg-3 section-sm">
    <!-- Container Start -->
    <div class="container">
        <div class="row justify-content-md-center text-center">
            <div class="col-md-8">
                <div class="content-holder">
                    <h2>Start today to get more exposure and
                        grow your business</h2>
                    <ul class="list-inline mt-30">
                        <li class="list-inline-item"><a class="btn btn-main" href="{% url 'create' %}">Add Listing</a>
                        </li>
                        <li class="list-inline-item"><a class="btn btn-secondary" href="{% url 'listings' %}">Browser
                                Listing</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>



{% endblock %}
