{% extends 'base.html' %}
{% load humanize %}
{% block tiltle %} Listings {% endblock %}
{% block content %}

<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-md-8">
                {% include 'partials/_alerts.html'%}
                <div class="product-details">
                    <h1 class="product-title">
                        {{listing.title}}</h1>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user-o"></i> By {{listing.owner.username}}
                            </li>
                            <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Category<a
                                    href="">{{listing.category}}</a></li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow"></i> Location
                                {{listing.city}}</li>
                        </ul>
                    </div>

                    <!-- product slider -->
                    <div class="product-slider">
                        {% if listing.photo_main%}
                        <div class="product-slider-item " data-image="{{listing.photo_main.url}}">
                            <img class="img-fluid rounded mx-auto d-block" src="{{listing.photo_main.url}}"
                                alt="product-img">
                        </div>
                        {% endif %}
                        {% if listing.photo_1%}
                        <div class="product-slider-item my-4 img-fluid rounded mx-auto d-block"
                            data-image="{{listing.photo_1.url}}">
                            <img class="img-fluid rounded mx-auto d-block" src="{{listing.photo_1.url}}"
                                alt="Second slide">
                        </div>
                        {% endif %}
                        {% if listing.photo_2%}
                        <div class="product-slider-item my-4" data-image="{{listing.photo_2.url}}">
                            <img class="img-fluid rounded mx-auto d-block" src="{{listing.photo_2.url}}"
                                alt="Third slide">
                        </div>
                        {% endif %}
                        {% if listing.photo_3%}
                        <div class="product-slider-item my-4" data-image="{{listing.photo_3.url}}">
                            <img class="img-fluid rounded mx-auto d-block" src="{{listing.photo_3.url}}"
                                alt="Third slide">
                        </div>
                        {% endif %}
                        {% if listing.photo_4%}
                        <div class="product-slider-item my-4" data-image="{{listing.photo_4.url}}">
                            <img class="img-fluid rounded mx-auto d-block" src="{{listing.photo_4.url}}"
                                alt="Third slide">
                        </div>
                        {% endif %}
                    </div>
                    <!-- product slider -->

                    <div class="content mt-5 pt-5">
                        <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                    role="tab" aria-controls="pills-home" aria-selected="true">Product Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Specifications</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">Product Description</h3>
                                <p>{{listing.description}}</p>



                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <h3 class="tab-title">Product Specifications</h3>
                                <table class="table table-bordered product-table">
                                    <tbody>
                                        <tr>
                                            <td>Seller Price</td>
                                            <td>${{listing.price}}</td>
                                        </tr>
                                        <tr>
                                            <td>Added</td>
                                            <td>{{listing.list_date}}</td>
                                        </tr>
                                        <tr>
                                            <td>State</td>
                                            <td>{{listing.city}}</td>
                                        </tr>
                                        <tr>
                                            <td>Brand</td>
                                            <td>Apple</td>
                                        </tr>
                                        <tr>
                                            <td>Condition</td>
                                            <td>Used</td>
                                        </tr>
                                        <tr>
                                            <td>Model</td>
                                            <td>2017</td>
                                        </tr>
                                        <tr>
                                            <td>State</td>
                                            <td>Dhaka</td>
                                        </tr>
                                        <tr>
                                            <td>Battery Life</td>
                                            <td>23</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget price text-center">
                        <h4>Price</h4>
                        <p>${{listing.price}}</p>
                    </div>
                    <!-- User Profile widget -->
                    <div class="widget user text-center">
                        <img class="rounded-circle img-fluid mb-5 px-5" src="images/user/user-thumb.jpg" alt="">
                        <h4><a href="">{{listing.owner.first_name}} {{listing.owner.last_name}}</a></h4>
                        <p class="member-time">Member Since Jun 27, 2017</p>

                        <ul class="list-inline mt-20">
                            <li class="list-inline-item"><a href=""
                                    class="btn btn-contact d-inline-block  btn-primary px-lg-5 my-1 px-md-3">Contact</a>
                            </li>
                            <li class="list-inline-item"><button
                                    class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3"
                                    data-toggle="modal" data-target="#inquiryModal">Make an
                                    offer</button></li>
                        </ul>
                    </div>

                    <!-- Rate Widget -->
                    <div class="widget rate">
                        <!-- Heading -->
                        <h5 class="widget-header text-center">What would you rate
                            <br>
                            this product</h5>
                        <!-- Rate -->
                        <div class="starrr"></div>
                    </div>
                    <!-- Safety tips widget -->
                    <div class="widget disclaimer">
                        <h5 class="widget-header">Safety Tips</h5>
                        <ul>
                            <li>Meet seller at a public place</li>
                            <li>Check the item before you buy</li>
                            <li>Pay only after collecting the item</li>
                            <li>Pay only after collecting the item</li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Container End -->
</section>

<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'inquirys'%}" method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    {%else%}
                    <input type="hidden" name="user_id" value="0">
                    {%endif%}
                    <input type="hidden" name="owner_mail" value="{{listing.owner.email}}">
                    <input type="hidden" name="listing_id" value="{{listing.id}}">
                    <input type="hidden" name="owner_id" value="{{listing.owner.id}}">
                    <div class="form-group">
                        <label for="property_name" class="col-form-label">Item:</label>
                        <input type="text" name="listing" class="form-control" value="{{listing.title}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" name="name" class="form-control" {%if user.is_authenticated%}
                            value="{{ user.first_name }} {{ user.last_name }}" readonly{%else%} required {%endif%}>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" name="email" class="form-control" {%if user.is_authenticated%}
                            value="{{ user.email }}" readonly{%else%} required {%endif%}>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-form-label">Phone:</label>
                        <input type="text" name="phone" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-form-label">Message:</label>
                        <textarea name="message" class="form-control"></textarea required>
                    </div>
                    <hr>
                    <input type="submit" value="Send" class="btn btn-block btn-secondary">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}